<div class="panel panel-success">
<div class="panel-heading"><b>All builds</b> | <%= link_to 'New build', new_build_path %></div>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Country</th>
    <th>Style</th>
    <th>Photo</th>
  </tr>
 
  <% @builds.each do |build| %>
    <tr>
      <td><%= build.name %></td>
      <td><%= build.country %></td>
      <td><%= build.style %></td>
      <td><%if build.photo.blank?%>
      <%= image_tag('https://lh3.googleusercontent.com/FOBz3oA4IA6F3Kg9KhAHH3S0UX1ID27IDwSJdz46rCa9QFWcJrMmHDRgxVf48pV3tg=w300', size: '80x80') %>
      <% else %>
      <%= image_tag(build.photo, size:'80x80') %>
      <% end %></td>
      <td><%= link_to 'nfo', build_path(build), class: "btn btn-info fa fa-info" %></td>
      <td><%= link_to 'Edit', edit_build_path(build), class: "btn btn-primary fa fa-cog" %></td>
      <td><%= link_to 'Delete', build_path(build),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: "btn btn-danger fa fa-trash-o fa-lg" %></td>
    </tr>
  <% end %>
</table>
<%= paginate @builds %>
<%= page_entries_info @builds %>
</div>