<p>
  <strong>Name:</strong>
  <%= @build.name %>
</p>
 
<p>
  <strong>Country:</strong>
  <%= @build.country %>
</p>

<p>
  <strong>Style:</strong>
  <%= @build.style %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @build.photo %>
</p>

<%= link_to 'Back', builds_path %>