<!DOCTYPE html>
<html>
  <head>
    <title>Architektura</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="navbar navbar-inverse navbar-fixed-top">
        <%= link_to "Architecture", root_path, :class => 'navbar-brand'%>
        <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><%= link_to 'All builds', builds_path %></li>
                </ul>
        
        
        <ul style="margin-right: 8px;margin-top:9px;" class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
        
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, :class => 'navbar-link glyphicon glyphicon-log-out' %>
        </ul>
        <% end %>
        
</div>
  </div>

  <div class="container modal-content">
    <%= yield %>
    </div>
  </body>
</html>
